.banner
  .banner__box
    .banner__box__text
      .banner__box__text__title
        誰でもかんたん、人生を変えるフリマアプリ
      .banner__box__text__comment
        今すぐ無料ダウンロード！
    .banner__box__image

.footer
  .footer__contents
    .footer__contents__content-left