.banner
  .banner__box
    .banner__box__text
      %h10.title だれでもかんたん、人生を変えるフリマアプリ
      %p.comment 今すぐ無料ダウンロード！
    .banner__box__btn
      = link_to "#" do
        = image_tag 'apple.png', alt: 'img', height: '100%', width: '100%', class: 'banner__box__btn__app'
      = link_to "#" do
        = image_tag 'google.png', alt: 'img', height: '100%', width: '100%', class: 'banner__box__btn__google'