.headers
  = image_tag "logo.png",width: "200",height:"100"
.conten
  .conten__main
    .conten__main--box
      .conten__main--name
        =current_user.nickname
      .conten__main--page
        さんのマイページ
  .conten__sabu
    .conten__sabu--box
      .conten__sabu--cade
        クレジットカード情報
        %br
        = link_to new_card_path do
          登録
        %br
        = link_to card_path(current_user) do
          変更
      .conten__sabu--out
        = link_to  user_registration_path,method: :delete do
          ログアウト
