.header
  千葉さん達と共通
.contents
  .contents__main
    .contents__main--box
      .contents__main--page
        〇〇さんのマイページ
  .contents__sabu
    .contents__sabu--box
      .contents__sabu--cade
        クレジットカード情報
        %br
        = link_to"登録","#"
        %br
        = link_to"変更","#"
      .contents__sabu--out
        = link_to"ログアウト","#"
.footer
  千葉さん達と共通
