.header
  千葉さん達と共通
.roguout
  .roguout__main
    .roguout__main--box
      .roguout__main--page
        ログアウトしました
  .roguout__sabu
    .roguout__sabu--box
      = link_to "トップページに戻る","#"
.footer
  千葉さん達と共通
