* {
  box-sizing: border-box;
}

.show {
  width: 100vw;
  height: 100vh;
  &__header {
    width: 100%;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    &__text {
      margin: 0 auto;
    }
  }
  &__main {
    &__box {
      &__contents {
        &__top {
          &__images {
            &__title {
            }
            &__image {

            }
          }
          &__prices {
            &__price {

            }
            &__tax-text {

            }
          }
          &__comment {

          }
          &__table {

          }
          &__btns {
            &__left {

            }
            &__right {

            }
          }
        }
        &__bottom {
          &__text {

          }
          &__btns {
            &__submit {

            }
            &__buy {

            }
          }
        }
        &__links {
          &__top {

          }
          &__bottom {
            &__back-psge {

            }
            &__next-page {

            }
          }
        }
      }
    }
  }
}
