.new {
  background-color: #f8f8f8;
}

.important {
  @include font-size-color(0.8em, red); 
}

.new_item {
  padding: 30px 0;
  .new-top {
    &__photo{
      @include flex-justify(center);
      text-align: center;      
      &__show {
        margin: 20px;
        &--image {
          @include width-height(300px, 300px);
          background-color: red;    
          &--icon {
            @include width-height(250px, 250px);
            @include font-size-color(40px, grey); 
            background: white;
            line-height: 250px;
            border: 2px solid gainsboro;
          }
          &--file {
            display: none;
          }
        }
      }
    }
  }


  .new-main {
    width: 78%;
    margin: 0 auto;
    &__name {
      display: flex;
      margin: 40px 0;
      position: relative;
      &--title {
        font-weight: bold;
        font-size: 20px;
        width: 260px;
        line-height: 45px;
      }
      &--detail {
        @include width-height(100%, 40px);
        font-size: 20px;
        padding: 0 10px;
        &--prefecture {
          border: 1px solid gray;
          @include width-height(220px, 47px);
        }
      }
    }

    &__content {
      width: 100%;
      display: flex;
      &--detail {
        height: 120px;
        resize: vertical;
      }
    }
    &__submit {
      width: 100%;
      text-align: center;
      &--btn {
        @include width-height(400px, 40px);
        @include font-size-color(24px, white); 
        margin: 0 auto; 
        background-color: red;
        cursor: pointer;
        letter-spacing: 3px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

#image-box {
}

#previews {
  text-align: center;
  height: 230px;
  width: 78%;
  padding: 0.5em 1em;
  margin: 15px auto ;
  border: dashed 2px gainsboro;/*点線*/
  > img {
    margin: 0 20px;
  }
}

.js-file_group {
  @include center_Position;
  text-align: center;
  display: flex;
  
  > input {
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
  }
}

.js-remove {
  @include font-size-color(14px, white); 
  background: red;
  padding: 4px;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.announce_picuture {
  @include center_Position;
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: bold;
}

.sell__item-categry {
  width: 220px;
  height: 47px;
  margin-right: 10px;
  border: 1px solid gray;
}


