.main {
  width: 100vw;
  &__box1 {
    width: 100%;
    height: 550px;
    background-image: url(bg-mainVisual-pict_pc.png);
    background-size: cover;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    position: relative;
    background-color: gray;
    background-position: top center;
    &__content {
      padding: 100px 70px;
      position: absolute;
      bottom: 0;
      &__title {
        font-size: 60px;
        font-weight: bold;
      }
      &__text {
        font-size: 18px;
        margin-top: 10px;
      }
      &__btn {
        width: 100%;
        height: 60px;
        display: flex;
        margin-top: 25px;
        &__app {
          width: 200px;
          margin-right: 20px;
        }
        &__google {
          width: 200px;
        }
      }
    }
  }
  &__box2 {
    width: 100%;
    height: 600px;
    padding: 40px 0;
    background-color: white;
    background-position: center;
    &__contents {
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      &__title {
        font-size: 27px;
        font-weight: bold;
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 15px;
      }
      &__title::after {
        width: 70px;
        height: 5px;
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: mediumturquoise;
      }
      &__content {
        display: flex;
        justify-content: space-between;
        .list {
          padding: 0 25px;
          width: 33%;
          .image {
            width: 100%;
            height: 70%;
            background-color: gray;
            position: relative;
            .number {
              width: 60px;
              height: 60px;
              position: absolute;
              top: 0;
              left: 0;
              color: white;
              font-size: 30px;
              line-height: 60px;
              font-weight: bold;
              background-color: mediumturquoise;
            }
          }
          .text {
            font-size: 19px;
            font-weight: bold;
            margin: 30px 0 15px;
            line-height: 50px;
            .span {
              color: mediumturquoise;
            }
          }
          .comment {
            font-size: 17px;
            text-align: left;
          }
        }
      }
    }
  }
  &__box3 {
    height: 400px;
    display: flex;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    align-items: center;
    background-image: url(bg-topMiddleDl-pict.png);
    background-size: cover;
    background-position: bottom;
    &__content {
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      &__title {
        font-size: 25px;
        font-weight: bold;
      }
      &__text {
        font-size: 18px;
        margin: 20px 0;
      }
      &__btn {
        width: 100%;
        height: 60px;
        display: flex;
        &__app {
          width: 200px;
          margin-right: 20px;
        }
        &__google {
          width: 200px;
        }
      }
    }
  }
  &__box4 {
    width: 100%;
    height: 730px;
    padding: 40px 0;
    background-color: white;
    &__contents {
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      &__title {
        font-size: 27px;
        font-weight: bold;
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 15px;
      }
      &__title::after {
        width: 70px;
        height: 5px;
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: mediumturquoise;
      }
      &__content {
        display: flex;
        justify-content: space-between;
        .list {
          padding: 0 25px;
          width: 33%;
          .image {
            width: 100%;
            height: 70%;
            margin: 0 auto;
          }
          .text {
            font-size: 19px;
            font-weight: bold;
            margin: 30px 0 15px;
          }
          .comment {
            font-size: 17px;
            text-align: left;
          }
        }
      }
    }
  }
  .main__box6 {
    padding: 70px 0;
    background-color: #f8f8f8;
    width: 100%;
    .inner {
      margin: 0 auto;
      width: 85%;
      .header {
        margin: 0 auto;
        width: 80%;
        &__title {
        font-weight: bold;
        text-align: center;
        font-size: 28px;
        margin: 0 auto;
        width: 60%;
        height: 35%;
        }
        &__text {
        font-weight: bold;
        font-size: 24px;
        color: #3CCACE;
        text-align: center;
        margin: 1px auto;
        width: 70%;
        height: 40%;
        }
      }
      .list {
        display: flex;
        justify-content: space-around;
        margin: 0 auto 0;
        width: 70%;
        height: 65%;
        .first {
          background-color: white;
          width: 30%;
          height: 70%;
          .a {
            color: black;
            text-decoration: none;
          }
          .img {
            margin: 0 auto 0;
            width: 90%;
            height: 40%;
          }
          .info {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0 0 15px 10px;
            &__left {
              &--name {
                margin-top: 3px;
              }
              &--price {
              }
              &--tax-in {
                font-size: 10px;
              }
            }
            &__right {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
  .main__box5 {
    background-color: #f8f8f8;
    width: 100%;
    .inner {
      margin: 0 auto;
      width: 85%;
      .header {
        margin: 0 auto;
        width: 80%;
        &__title {
        font-weight: bold;
        text-align: center;
        font-size: 28px;
        margin: 0 auto;
        width: 60%;
        height: 35%;
        }
        &__text {
        font-weight: bold;
        font-size: 24px;
        color: #3CCACE;
        text-align: center;
        margin: 1px auto;
        width: 70%;
        height: 40%;
        }
      }
      .list {
        display: flex;
        justify-content: space-around;
        margin: 0 auto 0;
        width: 70%;
        height: 65%;
        .first {
          background-color: white;
          width: 30%;
          height: 70%;
          .a {
            color: black;
            text-decoration: none;
          }
          .img {
            margin: 0 auto 0;
            width: 90%;
            height: 40%;
          }
          .info {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0 0 15px 10px;
            &__left {
              &--name {
                margin-top: 3px;
              }
              &--price {
              }
              &--tax-in {
                font-size: 10px;
              }
            }
            &__right {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}