.new-top
   %ul.new-top__photo
    %li.new-top__photo--show
    %li.new-top__photo--show
    %li.new-top__photo--show
    %li.new-top__photo--show
    
.new-main
  .new-main__name
    .new-main__name--title
      %p商品説明
      %span必須
    .new-main__name--detail

  .new-main__content
    .new-main__content--title
    .new-main__contetn--detail

  .new-main__category
    .new-main__category--title
    .new-main__category--detail

  .new-main__brand
    .new-main__brand--title
    .new-main__brand--detail

  .new-main__state
    .new-main__state--title
    .new-main__state--detail

  .new-main__postage
    .new-main__postage--title
    .new-main__postage--detail

  .new-main__shipping-date
    .new-main__shipping-date--title
    .new-main__shipping-date--detail

  .new-main__region
    .new-main__region--title
    .new-main__region--detail



