* {
  box-sizing: border-box;
  .header{
    width: 100%;
    height: 100px;
    padding:0 100px;
  }
  .account-page__inner{
    padding: 0 100px;
    width: 100%;
    height: 100vh;
    .account-page__inner--main{
      width: 100%;
      height: 100vh;
      padding: 0 100px;
    }
  }
}